a,
.main-header .top-header.mega-menus .i-list.i-list-i-block.i-list-i-block-sm > li a:hover,
.main-header .i-list.i-list-i-block.i-list-i-block-sm li a:hover,
.main-header.header-white .mini-nav:hover > a,
.visual-title span,
.content-links ul li a,
.circular-icon,
.heading h2 span,
.ico-box:hover .icon,
.ico-box:hover .content-title,
.ico-box:hover .icon a,
.ico-box:hover .content-title a,
.ico-box .link-holder .link-more:hover,
.filter-nav button:hover,
.filter-nav button.is-checked,
.team-box:hover .team-des-v2 .name,
.testimonial-container h2,
.caption-hover-full .trigger,
.contact-list a:hover,
.tab-container .tab-text-nav .nav-link:hover,
.tab-container .tab-text-nav .nav-link:focus,
.tab-container .tab-text-nav .nav-link.active,
.tab-container .tab-text-nav .nav-link.active:focus,
.tab-container .tab-text-nav .nav-link.active:hover,
.tab-container .tab-text-nav .open .nav-link,
.tab-container .tab-text-nav .open .nav-link:focus,
.tab-container .tab-text-nav .open .nav-link:hover,
.tab-container .tab-icon-nav .nav-link:hover,
.tab-container .tab-icon-nav .nav-link:focus,
.tab-container .tab-icon-nav .nav-link.active,
.tab-container .tab-icon-nav .nav-link.active:focus,
.tab-container .tab-icon-nav .nav-link.active:hover,
.tab-container .tab-icon-nav .open .nav-link,
.tab-container .tab-icon-nav .open .nav-link:focus,
.tab-container .tab-icon-nav .open .nav-link:hover,
.icon-lists ul li a:hover,
.pagination-block .pagination > li a,
.pagination-block .pagination > li span,
.waituk_select-box .solid-box.waituk_select-box-primary input[type='radio']:checked ~ label:before,
.waituk_select-box .solid-box.waituk_select-box-primary input[type='checkbox']:checked ~ label:before,
.slider-sub-title,
.blog-holder .blog-desc:hover .blog-title h6 a,
.comment-block .comment-slot .comment-desc a:hover,
.blog-lists .blog-list-items li a:hover,
.related-posts .post-text a:hover,
.post-block .post-holder:hover .post-desc a,
.twitter-feed .tweet-holder .twit-desc h6 a:hover,
.twitter-feed .tweet-holder .twit-desc p a,
.twitter-feed .tweet-holder .twit-desc p a:hover,
.twitter-feed .tweet-holder:hover h6 a,
.twitter-feed .tweet-holder:hover .twit-ico,
.footer-v3 .bg-white .widget-block .post-block .post-holder:hover h6 a,
.footer-v3 .bg-white .footer-nav ul li a:hover,
.text-primary
{
    color: #5645ff;
}

.mega-menus .mega-menu-multiple .cart-list .dropdown-menu-container > .dropdown-menu .btn,
.btn.btn-primary,
.btn.btn-trans-primary:hover,
.btn-alternate.btn.btn-primary,
.picture-item .link-box a:hover,
.port-v2 figcaption .link-box a,
.team-box figcaption,
.team-box .figcaption,
.count-block .col-wrap:hover,
.tab-container .tab-button-nav .nav-link:hover,
.tab-container .tab-button-nav .nav-link:focus,
.tab-container .tab-button-nav .nav-link.active,
.tab-container .tab-button-nav .nav-link.active:focus,
.tab-container .tab-button-nav .nav-link.active:hover,
.tab-container .tab-button-nav .open .nav-link,
.tab-container .tab-button-nav .open .nav-link:focus,
.tab-container .tab-button-nav .open .nav-link:hover,
.tab-container .tab-text-nav .nav-link:before,
.accordion-container.accordion-secondary .card .card-header,
.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active[disabled],
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active.disabled:hover[disabled],
.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today:hover,
.datepicker table tr td.today:hover:hover,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today.disabled:hover:hover,
.datepicker table tr td.today:active,
.datepicker table tr td.today:hover:active,
.datepicker table tr td.today.disabled:active,
.datepicker table tr td.today.disabled:hover:active,
.datepicker table tr td.today.active,
.datepicker table tr td.today:hover.active,
.datepicker table tr td.today.disabled.active,
.datepicker table tr td.today.disabled:hover.active,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today:hover.disabled,
.datepicker table tr td.today.disabled.disabled,
.datepicker table tr td.today.disabled:hover.disabled,
.datepicker table tr td.today[disabled],
.datepicker table tr td.today:hover[disabled],
.datepicker table tr td.today.disabled[disabled],
.datepicker table tr td.today.disabled:hover[disabled],
.waituk_range-block .slider .slider-selection,
.waituk_range-block .slider .slider-handle,
.waituk_range-block .slider .slider-tick.in-selection,
.waituk_select-box .waituk_select-box-primary input[type='radio']:checked ~ label:before,
.waituk_select-box .waituk_select-box-primary input[type='checkbox']:checked ~ label:before,
.select-picker-block .btn.btn-primary,
.tag-block ul li a:hover,
.tparrows
{
    background: #5645ff;
}

.coffee_cup:before,
.pagination-block .pagination > li > a:focus,
.pagination-block .pagination > li > a:hover,
.pagination-block .pagination > li > span:focus,
.pagination-block .pagination > li > span:hover,
.pagination-block .pagination > .active > a,
.pagination-block .pagination > .active > a:focus,
.pagination-block .pagination > .active > a:hover,
.pagination-block .pagination > .active > span,
.pagination-block .pagination > .active > span:focus,
.pagination-block .pagination > .active > span:hover,
.pagination-block .pagination.solid-nav > li:hover,
.waituk_datetimepicker-block .input-group-addon,
.select-picker-block .dropdown-menu > .active > a,
.select-picker-block .dropdown-menu > .active > a:focus,
.select-picker-block .dropdown-menu > .active > a:hover,
.bg-primary
{
    background-color: #5645ff;
}

.coffee_cup,
.coffee_cup:after,
.mega-menus .mega-menu-multiple .cart-list .dropdown-menu-container > .dropdown-menu .btn,
.header-white .mega-menus .mega-menu-multiple .cart-list .dropdown-menu-container > .dropdown-menu .btn,
.btn,
.btn.btn-primary,
.btn.btn-trans-primary,
.btn-alternate.btn,
.btn-alternate.btn.btn-primary,
.circular-icon,
.pagination-block .pagination > li > a:focus,
.pagination-block .pagination > li > a:hover,
.pagination-block .pagination > li > span:focus,
.pagination-block .pagination > li > span:hover,
.pagination-block .pagination > .active > a,
.pagination-block .pagination > .active > a:focus,
.pagination-block .pagination > .active > a:hover,
.pagination-block .pagination > .active > span,
.pagination-block .pagination > .active > span:focus,
.pagination-block .pagination > .active > span:hover,
.pagination-block .pagination.solid-nav > li:hover
{
    border-color: #5645ff;
}

.picture-item .link-box
{
    border-right-color: #5645ff;
}

.picture-item .link-box a:first-child
{
    border-bottom-color: #5645ff;
}

.coffee_cup:before
{
    box-shadow: 5px 0 0 0 #5645ff, 5px -5px 0 0 #5645ff, 10px 0 0 0 #5645ff;
}
